// Colors

// Primary

$softBlue: hsl(231, 69%, 60%);
$softRed: hsl(0, 94%, 66%);

// neutral

$grayishBlue: hsl(229, 8%, 60%);
$veryDarkBlue: hsl(229, 31%, 21%);

// Font Size

$fontSize: 18px;
$fontFamily: "https://fonts.google.com/specimen/Rubik";

// Weigths

$weights: (
  light: 400,
  bold: 500,
);
